
DL/NLP_1/__pycache__/utils.cpython-37.pyc

DL/NLP_1/.ipynb_checkpoints/deep_learning_NLP-checkpoint.ipynb

DL/NLP_1/data/glove_100k.en.vec

DL/NLP_1/data/lambada_cleaned_sample.txt

DL/NLP_1/data/movie_reviews.csv

DL/images/capitals.png

DL/images/cbow_diag.png

DL/images/easy_hard_arrow.png

DL/images/embedding.png

DL/images/fields_application.gif

DL/images/lstm_1.png

DL/images/lstm_2.png

DL/images/lstm_3.png

DL/images/lstm_4.png

DL/images/lstm_pseudo_code.png

DL/images/most_sim.png

DL/images/rnn_many_to_many.png

DL/images/rnn_vs_lstm.png

DL/images/rolled_rnn.png

DL/images/similar_contexts.png

DL/images/skip_gram_example_input.png

DL/images/skip_gram_net_arch.png

DL/images/skip_same_hidden.png

DL/images/skip_same_output_distributions.png

DL/images/skip_same_output_vectors.png

DL/images/sum_wv.png

DL/images/supervised_text_classification.png

DL/images/tsne_words.png

DL/images/unrolling_rnn_btt.png

DL/images/unrolling_rnn_embeddings.png

DL/images/unrolling_rnn_no_target.png

DL/images/unrolling_rnn.png

DL/images/word2vec_skipgram.svg

DL/images/word2vec_words.svg

DL/images/word2vec.svg

DL/images/words.svg

DL/NLP_1/images/capitals.png

DL/NLP_1/images/cbow_diag.png

DL/NLP_1/images/easy_hard_arrow.png

DL/NLP_1/images/embedding.png

DL/NLP_1/images/fields_application.gif

DL/NLP_1/images/lstm_1.png

DL/NLP_1/images/lstm_2.png

DL/NLP_1/images/lstm_3.png

DL/NLP_1/images/lstm_4.png

DL/NLP_1/images/lstm_pseudo_code.png

DL/NLP_1/images/most_sim.png

DL/NLP_1/images/rnn_many_to_many.png

DL/NLP_1/images/rnn_vs_lstm.png

DL/NLP_1/images/rolled_rnn.png

DL/NLP_1/images/similar_contexts.png

DL/NLP_1/images/skip_gram_example_input.png

DL/NLP_1/images/skip_gram_net_arch.png

DL/NLP_1/images/skip_same_hidden.png

DL/NLP_1/images/skip_same_output_distributions.png

DL/NLP_1/images/skip_same_output_vectors.png

DL/NLP_1/images/sum_wv.png

DL/NLP_1/images/supervised_text_classification.png

DL/NLP_1/images/tsne_words.png

DL/NLP_1/images/unrolling_rnn_btt.png

DL/NLP_1/images/unrolling_rnn_embeddings.png

DL/NLP_1/images/unrolling_rnn_no_target.png

DL/NLP_1/images/unrolling_rnn.png

DL/NLP_1/images/word2vec_skipgram.svg

DL/NLP_1/images/word2vec_words.svg

DL/NLP_1/images/word2vec.svg

DL/NLP_1/images/words.svg
